nav {
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: center;
}

.navbar a {
	color: #c2d0f2;
}

.navbar a:hover {
	color: #faf3dd; 
	font: bold;
	text-shadow: 0px 0px 10px #000000;

}

body {
    background-image: linear-gradient(125deg, rgb(255, 255, 0) , rgb(255, 255, 255), rgb(128, 0, 128), rgb(0, 0, 0));
}

#background {
	background-color: #292929;
	padding: 50px;
}

p, h3, h4, h5 {
    color: #d9e2f5;
}

#title {
    color: #d9e2f5;
    text-shadow: 0px 0px 10px #000000;
    text-align: center;
}